{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div id="notif" class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
